@model Registro

<h1 class="display-4">Registro de datos</h1><br>

<div asp-validation-summary="All"></div>

<form action="" method="post">
    <div class="form-group">
        <label asp-for="nombre"></label>
        <input asp-for="nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="precio"></label>
        <input asp-for="precio" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="descripcion"></label>
        <textarea asp-for="descripcion" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn-primary" value="Enviar">
    </div>
</form>


